<textarea id="coursewall-inplace-post-editor-{{postId}}" style="width: 100%; resize: none">{{{content}}}</textarea>
<div>
    <button id="coursewall-inplace-post-editor-post-button-{{postId}}">Post</button>
    <button onclick="coursewall.utils.cancelPostEdit('{{postId}}');">Cancel</button>
</div>
