    <div class="wall-post-editor">
        <div class="wall-photo-text-wrapper">
            <div class="wall-photo" style="background-image:url(/direct/profile/{{currentUserId}}/image/thumb)"></div>
            <div class="wall-editor-text-wrapper">
                <div class="wall-editor-text"><div id="wall-post-creator-editor" contenteditable="true">{{translate 'post_editor_initial_text'}}</div></div>
            </div>
        </div>
        <div id="wall-editor-toolbar">
            <button id="wall-editor-post-button" class="wall-editor-button" disabled="true">{{translate 'post'}}</button>
            <button id="wall-editor-cancel-button" class="wall-editor-button">{{translate 'cancel'}}</button>
        </div>
    </div>

    <div id="wall-posts-wrapper">
    	<br />
  	 	<div id="wall-posts">
		</div>
	</div>
    <div id="wall-loading-image">
        <img src="/wall-tool/images/ajax-loader.gif" />
    </div>
