    <div class="commons-post-editor">
        <div class="commons-photo-text-wrapper">
            <div class="commons-photo" style="background-image:url(/direct/profile/{{currentUserId}}/image/thumb)"></div>
            <div class="commons-editor-text-wrapper">
                <div class="commons-editor-text"><div id="commons-post-creator-editor" contenteditable="true">{{translate 'post_editor_initial_text'}}</div></div>
            </div>
        </div>
        <div id="commons-editor-toolbar">
            <button id="commons-editor-post-button" class="commons-editor-button" disabled="true">{{translate 'post'}}</button>
            <button id="commons-editor-cancel-button" class="commons-editor-button">{{translate 'cancel'}}</button>
        </div>
    </div>

    <div id="commons-posts-wrapper">
    	<br />
  	 	<div id="commons-posts">
		</div>
	</div>
    <div id="commons-loading-image">
        <img src="/commons-tool/images/ajax-loader.gif" />
    </div>
