    <div class="cw-post-editor">
        <div class="cw-photo-text-wrapper">
            <div class="cw-photo" style="background-image:url(/direct/profile/{{currentUserId}}/image/thumb)"></div>
            <div class="cw-editor-text-wrapper">
                <div class="cw-editor-text"><div id="cw-post-creator-editor" contenteditable="true">{{translate 'post_editor_initial_text'}}</div></div>
            </div>
        </div>
        <div id="cw-editor-toolbar">
            <button id="cw-editor-post-button" class="cw-editor-button" disabled="true">{{translate 'post'}}</button>
            <button id="cw-editor-cancel-button" class="cw-editor-button">{{translate 'cancel'}}</button>
        </div>
    </div>

    <div id="cw-posts-wrapper">
    	<br />
  	 	<div id="cw-posts">
		</div>
	</div>
    <div id="cw-loading-image">
        <img src="/cw-tool/images/ajax-loader.gif" />
    </div>
