    <div class="coursewall-post-editor">
        <div class="coursewall-photo-text-wrapper">
            <div class="coursewall-photo" style="background-image:url(/direct/profile/{{currentUserId}}/image/thumb)"></div>
            <div class="coursewall-editor-text-wrapper">
                <div class="coursewall-editor-text"><textarea id="coursewall-post-creator-textarea">{{translate 'post_editor_initial_text'}}</textarea></div>
            </div>
        </div>
        <div id="coursewall-editor-toolbar">
            <button id="coursewall-editor-post-button" class="coursewall-editor-button" disabled="true">{{translate 'post'}}</button>
            <button id="coursewall-editor-cancel-button" class="coursewall-editor-button">{{translate 'cancel'}}</button>
        </div>
    </div>

    <div id="coursewall-posts-wrapper">
    	<br />
  	 	<div id="coursewall-posts">
		</div>
	</div>
    <div id="coursewall-loading-image">
        <img src="/coursewall-tool/images/ajax-loader.gif" />
    </div>
