    <div class="coursewall-post-editor">
        <div class="coursewall-photo-text-wrapper">
            <div class="coursewall-photo" style="background-image:url(/direct/profile/{{currentUserId}}/image/thumb)"></div>
            <div class="coursewall-editor-text-wrapper">
                <div class="coursewall-editor-text"><textarea id="coursewall-post-creator-textarea">Type something ...</textarea></div>
            </div>
        </div>
        <div id="coursewall-editor-toolbar">
            <div id="coursewall-editor-post-button-wrapper"><button id="coursewall-editor-post-button">Post</button></div>
        </div>
    </div>

    <div id="coursewall-posts-wrapper">
    	<br />
  	 	<div id="coursewall-posts">
		</div>
	</div>
    <div id="coursewall-loading-image">
        <img src="/coursewall-tool/images/ajax-loader.gif" />
    </div>
