<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.wall.tool.entityprovider.WallEntityProvider">
		<property name="wallManager"><ref bean="org.sakaiproject.wall.api.WallManager"/></property>
        <property name="wallSecurityManager"><ref bean="org.sakaiproject.wall.api.WallSecurityManager"/></property>
        <property name="sakaiProxy"><ref bean="org.sakaiproject.wall.api.SakaiProxy"/></property>
	</bean>
	
</beans>
